img{
    width: 100%!important;
}

.triangle1 {
    border-top: 300px solid transparent;
    border-left: 2000px solid #C9DDFF;
    border-bottom: 300px solid transparent;
}
.triangle2 {
    border-top: 300px solid transparent;
    border-right: 2000px solid #C9DDFF;
    border-bottom: 300px solid transparent;
}