*{
    font-family: raleway;
}

img{
    width: 100%!important;
}
body{
    overflow-x: hidden;
}
.dighead{
    color: white;
}
.propic{
    width: 32%!important;
}
.webpic{
    width: 17%!important;
}
.webpic2{
    width: 15%!important;
    height: 90%;
}
.slidepic{
    width: 60%!important;
}
#shape1, #shape2 {
    width: 150vw; /* 150% van de viewport-breedte */
    margin-left: -150px;
    position: absolute;
}
#shape-container {
    overflow: visible; /* Laat de inhoud vrij groeien */
    width: 100%; /* Gebruik volledige breedte */
    height: auto; /* Laat de container meegroeien */
}
